body {
	background: grey;
	padding: 20px;
	margin: 0px;
	font-family: sans-serif;
}

#container {
	background-color: coral;
}

#wrap {
	background-color: green;
	display: grid;
	grid-template-rows: 200px auto;
}

#properties {
	background-color: yellow;
	padding-top: 200px;
}

#topNav {
position: fixed;
}

.top {
	position: relative;
	padding: 20px;
	background-color: blue;
	width: 100%;
}

.filter {
	background-color: purple;
	padding: 20px;
}
