body {
	background: grey;
	padding: 20px;
	margin: 0px;
	font-family: sans-serif;
}

#all {
	display: grid;
	grid-template-rows: 150px auto;
}

#topnav {
	background-color: green;
	padding: 20px;
	
}

#properties {
	padding: 50px;
}

#toprated {
	padding: 50px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

#property {
	background-color: red;
	background-image: url();
	background-size: auto 90%;
	background-repeat: no-repeat;
	border-radius: 20px;
	position: relative;
	min-height: 250px;
}
