html {
	margin: 0px;
	padding: 0px;
}

body {

	margin: 0px;
	font-family: sans-serif;
}

p {
	margin: 0px;
}

.dropdown {
	display: inline-block;
	padding-left: 20px;
}

.drpbtn {
  color: #737373;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-right: 8px;
	padding-left: 8px;
  font-size: 15px;
	border-radius: 5px;
  border: 1px solid #737373;
}

.dropdown-content {
  display: none;
  position: absolute;
	background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #737373;}





#all {
	display: grid;
	grid-template-rows: 150px auto;
}

#top {
	background-color: white;
	display: grid;
	grid-auto-rows: 2fr 1fr;
}

#search {
	background-color: white;
	display: flex;
	flex-direction: row;
}

.bar span {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 15px;
	border-radius: 5px;
	box-shadow: 7px 7px 15px 1px rgba(115,115,115,0.5);
	/* position: absolute;
	left: 80px;
	top: 10px; */
}

input {
	background-color: white;
	height: 25px;
	width: 383px;
	/* position: absolute;
	left: 130px;
	top: 15px; */

}

i {
	color: black;
	font-size: 22px;
	/* position: absolute;
	top: 35px;
	left: 120px; */
}

img {
	height: 70px;
	/* position: absolute;
	top: 4px;
	left: -5px; */
}

#search a {
	text-decoration: none;
	color: #737373;
	font-size: 14px;
	font-weight: 600;
}


.bar {
	padding-top: 20px;
}

.bar input {
	border: none;
	font-size: 14px;
}

.host {
	padding-top: 23px;
	padding-left: 300px;
}

.host span:hover {
	padding-bottom: 39px;
	border-bottom: 2px solid #737373;
	padding-left: 5px;
	padding-right: 5px;
}

.help {
	padding-top: 23px;
	padding-left: 35px;
}

.help span:hover {
	padding-bottom: 39px;
	border-bottom: 2px solid #737373;
	padding-left: 5px;
	padding-right: 5px;
}

.sign {
	padding-top: 23px;
	padding-left: 35px;
}

.sign span:hover {
	padding-bottom: 39px;
	border-bottom: 2px solid #737373;
	padding-left: 5px;
	padding-right: 5px;
}

.log {
	padding-top: 23px;
	padding-left:	35px
}

.log span:hover {
	padding-bottom: 39px;
	border-bottom: 2px solid #737373;
	padding-left: 5px;
	padding-right: 5px;
}



#topnav {
	padding: 15px;
	position:relative;
	z-index: 1;
	border-top: 1px solid rgb(228, 228, 228);
	border-bottom: 1px solid rgb(228, 228, 228);
}


#filter {
	margin-left: 50px;
	display: flex;
}

#properties {
	padding: 25px;
	margin-left: 75px;
}

#toprated {
	display: flex;
	flex-wrap: wrap;
}

#property {
	/* border: 1px solid black; */
	border-radius: 5px;
	position: relative;
	width: 264px;
	height: 285px;
	margin: 7.5px;
}

.img {
	/* background-image: url(https://res.cloudinary.com/dg3lfqtcg/image/upload/v1561447428/boho-bar-restaurant_qhq2da.jpg); */
	background-size: auto 200px;
	width: 264px;
	height: 175px;
	background-repeat: no-repeat;
	border-radius: 5px;
	z-index: -1;
}

.data {
	display: flex;
	flex-direction: column;
}

.type p {
	font-size: 15px;
	color: #aaaaaa;
	font-weight: 600;
	padding-top: 6px;
}

.name p {
	font-size: 20px;
	color: #484848;
	font-weight: bold;
	padding-top: 6px;
}

.price p {
	font-size: 13px;
	color: #484848;
	padding-top: 8px;
}

.rating i {
	font-size: 9px;
	color: #1b8489;
	padding-top: 8px;
}

.rating p {
	font-size: 12px;
	padding-top: 8px;
	color: #484848;
}
